name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: cla-assistant/github-action@v2.3.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.CLA_PAT }}
        with:
          path-to-signatures: 'signatures/cla.json'
          path-to-document: 'CLA.md'
          branch: 'main'
          allowlist: 'risquanter,dependabot[bot]'
          remote-organization-name: 'risquanter'
          remote-repository-name: 'java-metalog-distribution'
          create-file-commit-message: 'Creating file for storing CLA Signatures'
          signed-commit-message: 'Signing the CLA'
          custom-notsigned-prcomment: 'Thank you for your contribution! To protect both you and the project, we need you to sign our CLA. Please read the CLA.md document and comment on this PR with: "I have read the CLA Document and I hereby sign the CLA"'
          custom-pr-sign-comment: 'I have read the CLA Document and I hereby sign the CLA'
